node_modules/
.env
.env.local
.env.production
.DS_Store
*.log
dist/
build/
.vscode/
.idea/
coverage/
.nyc_output/
*.swp
*.swo
*~
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.turbo/
.vercel
*.pem
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Local Netlify folder
.netlify
